//Primary

$Orange: hsl(25, 97%, 53%);
$LightOrange: hsl(27, 57%, 54%) ;

//Neutral

$White: hsl(0, 0%, 100%);
$Light: hsl(217, 12%, 63%);
$Medium: hsl(216, 12%, 54%);
$Dark: hsl(213, 19%, 18%);
$Very: hsl(216, 12%, 8%);
$Box: hsl(215, 22%, 15%);